<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_lizard_square"
        android:label="Herpi"
        android:roundIcon="@mipmap/ic_launcher_lizard_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".module.feature.main.presentation.MainActivity"
            android:exported="true">
            <tools:validation testUrl="https://herpi.ge/faq" />
            <tools:validation testUrl="https://herpi.ge/" />
            <tools:validation testUrl="https://herpi.ge/reptiles/15/details" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:scheme="https" />
                <data android:host="herpi.ge" />
                <data android:path="/" />
                <data android:pathPrefix="/faq" />
                <data android:pathPattern="/reptiles/.*/details" />
            </intent-filter>
        </activity>

        <service
            android:name=".module.feature.reptileDetails.presentation.service.FetchAndCacheDataFromServerService"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MAPS_API_KEY" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
    </application>

</manifest>